/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

main {

}

section {
  max-width: 900px;
  margin: 0px auto;
  padding: 15px 30px;
  text-align: center;
 }