// Reset main blocks
body, h1, h2, h3, h4, h5, h6,
p, blockquote, ol, ul, li, figure {
  margin: 0px;
  padding: 0px;
}

// Style page base
body {
  font-family: $base-font;
  font-weight: 400;
  font-size: $base-size;
  letter-spacing: $letter-spacing;
  line-height: $base-height;
  color: $blue-dark;
  background: $blue-light image-url("bg.png") no-repeat center top;
}

main {}

nav {}

section {
  max-width: 900px;
  margin: 0px auto;
  padding-top: $vertical-spacing;
  padding-bottom: $vertical-spacing;
  padding-left: $side-whitespace;
  padding-right: $side-whitespace;
}

#intro {
  padding-top: $vertical-spacing * 2;
}

// Set `margin-bottom` to maintain vertical rhythm
h1 {}
h2 {
  margin-bottom: $vertical-spacing / 3 * 2;
}

h4, label, p {
  margin-bottom: $vertical-spacing / 3;
}

ul.list-inline > li {
  padding-right: $vertical-spacing * 2;
}

.form-horizontal {
  margin-top: $vertical-spacing;
  .control-label {
    padding-top: 10px;
  }
}

.call-for-action {
  margin-top: $vertical-spacing / 2;
}

h1, h2, h3, h4, h5, h6 {
  color: $blue-dark;
  font-family: $header-font;
  line-height: $base-height;
}

h1 {
  font-weight: 800;
  font-size: 60px;
}

h2 {
  font-weight: 800;
  font-size: 44px;
}

h3 {
  font-weight: 200;
  font-size: 24px;
}

.pic {
  float: left;
  color: $blue;
  font-size: 40px;
}

.name {
  margin: 40px 0px $vertical-spacing/3*2 120px;
}

.quote {
  margin: 10px 0px 0px 60px;
  // color: $blue;
  .quote-text {
    font-style: italic;
    font-weight: 800;
    font-family: "Georgia";
    font-size: 26px;
  }
}
